@import "src/assets/styles/theme";

.breadcrumb {
  padding: $md;
  border-radius: $md;
  background: #fff;
  margin: $md 0;
  box-sizing: border-box;

  .icon {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: $sm;
    margin-left: $md;
    font-size: 25px;
    color: $dark-color;
    cursor: pointer;
    border-radius: $md;
    background: #fff;
    transition: 0.2s ease-in-out;

    &:hover {
      color: $btn-hover;
    }
  }
}

.movies {
  .current-movie {
    width: 100%;
    box-sizing: border-box;
    background: $light-color;
    border-radius: $md;
    padding: $md;

    .movie-detail {
      margin-top: $md;

      .image {
        width: 300px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .movie-label {
        margin-left: $lg;

        .movie-detail {
          padding: 30px;
          margin-left: 2vw;
          flex: 1;
          box-sizing: border-box;

          .label {
            width: 100%;
            box-sizing: border-box;

            h1 {
              color: $light-color;
              font-size: 40px;
              letter-spacing: 1px;
            }

            .year {
              box-sizing: border-box;

              span {
                color: $btn-hover;
              }
            }

            .rating, .liked {
              color: $btn-hover;

              i {
                color: $warning-color;
              }
            }

            .liked {
              i {
                color: $secondary-color;
              }
            }
          }

          .extra-info-item {
            text-transform: capitalize;
            color: $btn-hover;
          }

          .movie-description {
            width: 70%;
            box-sizing: border-box;

            p {
              color: $light-color;
              font-size: 20px;
              line-height: 1.5;
              letter-spacing: 1px;
              text-align: justify;
              word-spacing: 2px;
            }
          }
        }

        .movie-genres {
          width: 100%;
          box-sizing: border-box;

          .label {
            h3 {
              color: $dark-color;
              font-size: 22px;
            }
          }

          .movie-genres-list {
            display: flex;
            align-items: center;
            justify-items: center;
            box-sizing: border-box;

            .movie-genres-item {
              border-radius: 10px;
              padding: 10px 20px;
              background: $btn-hover;
              text-align: center;
              margin-right: 10px;
              box-sizing: border-box;

              span {
                text-transform: capitalize;
                color: $light-color;
                font-weight: bold;
              }

              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }

}

.schedule-list {
  box-sizing: border-box;
  .header {
    background: $light-color;
    padding: $md;
    border-radius: $md;
    box-sizing: border-box;

  }

  .list {
    box-sizing: border-box;

    .schedule-item {
      background: $dark-color;
      padding: $md;
      width: 20%;
      margin: 2% 2% 0 0;
      border-radius: $md;
      text-align: center;
      position: relative;
      color: $text-color;
      box-sizing: border-box;

      &:nth-child(4n) {
        margin-right: 0;
      }

      .label {
        width: 100%;
        box-sizing: border-box;

        h3 {
          text-align: center;
        }
      }

      .actions {
        cursor: pointer;
      }
    }
    .disabled{
      background: $btn-hover;
      box-sizing: border-box;
    }
  }
}
