
.toaster {
  position: fixed;
  z-index: 999999;
  padding: 10px;
  background: white;
  bottom:8vh;
  right: 35px;
  border-radius: 7px;

  &.success {
    background: #4caf50;
    color: white;
  }

  &.error {
    background: #f44336;
    color: white;
  }

  &.on {
    transform: translateY(80%);
    opacity: 1;
  }

  &.off {
    transform: translateY(0);
    opacity: 0;
  }
  .toaster-title,.toaster-description{
    font-family: 'Montserrat', sans-serif;
  }
}
