@import "src/assets/styles/theme";

main.admin {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  box-sizing: border-box;

  .content {
    flex: 1;
    padding: $lg;
    background: #f3f3f3;
    box-sizing: border-box;
  }
}
