@import "src/assets/styles/theme";

main.schedule {
  padding: 30px 5vw;
  min-height: 94vh;
  margin-top: -10px;
  background: url("../../../../assets/images/background.jpeg");
  background-size: contain;
  box-sizing: border-box;
  color: $text-color;
}
