@import "src/assets/styles/theme";
.navbar{
  height: 8vh;
  padding: 2vh 5vw;
  width: 100%;
  position: sticky;
  top: 0;
  box-sizing: border-box;
  z-index: 1;
  transition: 0.3s;
  background: #0c0404;
  &.scrolled {
    box-shadow: none;
    background: #0c0404;
    z-index: 99;
  }
  .nav-menu{
    box-sizing: border-box;
    .nav-menu-item{
      margin-left: 5vw;
      span{
        color: $light-color;
        font-size: 20px;
        letter-spacing: 1px;
        font-weight: bold;
        &:hover{
          color: $primary-color;
          transition: 0.5s ease-in-out;
        }
      }
      &:first-child{
        margin-left: 0;
      }
    }
  }
}

