@import "src/assets/styles/theme";
main.home {
  &::-webkit-scrollbar {
    display: none;
  }
  background: url("../../../../assets/images/background.jpeg") no-repeat;
  background-size: cover;
  box-sizing: border-box;
  .home-banner{
    position: relative;
    height: calc(90vh - 20px);
    margin-top: -10vh;
    box-sizing: border-box;
    .image-area{
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      //background: url("../../../../assets/images/background.jpeg") no-repeat;
      background-size: cover;
    }
  }
}
