$primary-color: #f33232;
$secondary-color: #3e56ee;

$light-color: #cbc7c7;
$dark-color: #010b15;

$secondary-dark-color: #f5f5f5;
$input-color: #696969;
$input-box-color: #ffffff;

$btn-hover: #858585;
$primary-hover: #3e56ee;

$success-color: #4caf50;
$danger-color: #f44336;
$info-color: #2196f3;
$warning-color: #ff9800;

$linear-gradient-color: linear-gradient(#3e56ee, #aa58d4);

$background-color: #96b125;
$text-color: #fff2ec;
$button-color: #fff2ec;
