@import "src/assets/styles/theme";

.schedule {
  width: 100%;
  padding: 5px 5vw;
  margin-top: 20px;
  box-sizing: border-box;

  .label {
    position: relative;
    width: 100%;
    color: $light-color;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;

    .hint-icon {
      position: relative;
      margin-left: $md;
      margin-top: $xs;
      background: $light-color;
      color: $dark-color;
      text-transform: lowercase;
      width: 20px;
      height: 20px;
      text-align: center;
      border-radius: 50%;
      font-weight: bold;
      cursor: pointer;
      .hint-icon-dropdown {
        visibility: hidden;
        position: absolute;
        top: -50px;
        left: 50px;
        background: #cccccc;
        padding: $md;
        border-radius: $sm;
        width: 300px;
        color: $dark-color;
        box-sizing: border-box;

      }
      &:hover {
        .hint-icon-dropdown{
          visibility: visible;
        }
      }
    }
  }

  .schedule-slots {
    width: 100%;
    box-sizing: border-box;

    .schedule-slot {
      min-width: 15%;
      max-width: 25%;
      margin-right: 2%;
      margin-bottom: 2%;
      text-transform: capitalize;
      box-sizing: border-box;

      &:nth-child(6n) {
        margin-right: 0;
      }

      span {
        font-weight: bold;
        font-size: 20px;
        color: $light-color
      }
    }
  }
}
